Source: webkit
Section: webOS
Priority: extra
Maintainer: Anupam <anupam.kaul@palm.com>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.2
Homepage: https://github.com/isis-project/WebKit
#Vcs-Git: git://git.debian.org/collab-maint/webkit.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/webkit.git;a=summary

Package: webkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: webkit for webOS


